*.zarr
.DS_Store
**/.ipynb_checkpoints
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
data/*
plots/*
examples/*.nc

/examples/copernicus-data
/examples/local_folder
/.conda
/dist
/docs/_build/
/docs/examples/
poetry.lock
